{% extends 'base.html' %}
{% block title %}{{land_plot.description}}{% endblock title %}
{% block content %}

<div class="row alert alert-secondary">
  <h2>{{land_plot.description}}</h2>
</div>

<div class="row">
  <table class="table table-striped table-hover" style="white-space: nowrap">

    <tbody>
    <tr>
      <td>Id в БД:</td>
      <td>{{ land_plot.gid }}</td>
    </tr>
    <tr>
      <td>Площадь:</td>
      <td>{{ land_plot.area }}Га</td>
    </tr>
    <tr>
      <td>Пересекают ли участок дороги:</td>
      <td>{% if land_plot.status %} Да {% else %} Нет {% endif %}</td>
    </tr>
    <tr>
      <td>Полигон:</td>
      <td>{{ land_plot.polygon }}Га</td>
    </tr>
    <tr>
      <td>Дата создания:</td>
      <td>{{ land_plot.date_create }}</td>
    </tr>
    <tr>
      <td>Тип:</td>
      <td>{{ land_plot.type_land }}</td>
    </tr>
    <tr>
      <td>Ближайшая дорога:</td>
      <td>{{ land_plot.rout_name }}</td>
    </tr>
    <tr>
      <td>Расстояние до ближайшей дороги:</td>
      <td>{{ land_plot.min_distance }}</td>
    </tr>
    </tbody>

  </table>

</div>

{% endblock content %}
